:root {
    /* KOLORY */
    --background-color: #f1faef;
    --text-color      : #1d3458;
    --primary-color   : #447a9c;
    --secondary-color : #e63746;
    --accent-color    : #a7dadc;

}

header {
    border: 2px red solid;
    text-align: right;
}

nav ul {
    border: 2px blue solid;
}

nav ul li {
    display: inline;
    padding: 3em;
}
